.et_pb_blurb h4 {
    padding-bottom: 5px;
    font-weight: bold;
	/*text-shadow: rgb(50, 50, 50) 2px 2px 5px;*/
} 


.et_pb_toggle_open h5.et_pb_toggle_title {
    Xcolor: #444;
    Xfont-weight: bold;
    font-size: 1.2em;
    /*text-shadow: rgb(150, 150, 150) 3px 3px 8px;*/
}

.et_pb_pricing_content {
    padding: 33px 30px 0px;
}

.et_pb_pricing_table {
padding-bottom:0px;
}

/* BG */
h1, h2, h3, h4, h5, h6, p, .et_pb_column p  {
   font-weight: 300 !important;
}

.et_pb_pricing_heading .et_pb_pricing_title {
   margin: 0;
}

#main-header {
    background: #d21034;
    padding-top: 18px !important;
}

X.titleundlo,
.search_outer {
   display: none; /* hide Master of Information in header */
}

.titleundlo {
   clear: none;
   float: right;
   font-size: 40px;
   line-height: 1;
   margin: 0;
   position: relative;   
   left: 0px;
   top: 50px;
   text-align: center;
   padding-left: 0;
   overflow: hidden;
   font-weight: 400;
   font-family: 'Calibri', Arial, sans-serif;
}

#logo {
   width: auto !important;
}

nav#top-menu-nav {
   float: left;
}

#top-menu li {
    padding-right: 5px;
}

.mi-intro {
   padding: 2em 0 !important;
}

.mi-intro p {
   font-size: 1.2em;
}

.mi-intro em {
   font-weight: 300;
}

.mi-intro .et_pb_promo_button {
   color: rgba(0,0,0,.5);
   background-color: rgba(0,0,0,.1); /* #02729a; */
   border: 2px solid rgba(0,0,0,0); /* #02729a; */
   font-weight: 600;
}

.mi-intro .et_pb_promo_button:hover {
   background-color: rgba( 255, 255, 255, 0.2 );
   color: #fff;
   border: 2px solid ;
}

p.et_pb_fullwidth_header_subhead {
   font-style: italic;
   font-size: 1.2em;
}

.et_pb_toggle h5.et_pb_toggle_title {
   margin: 0; /* vertically center accordion heading / toggle */
   color: #000;
   font-weight: 600;
   font-size: 1.2em; /* make collapsed font same size as expanded | transition is distracting */
}

/* vertically center + button */
.et_pb_toggle_title:before {
   top: 50%;
   margin-top: -8px;
}

.et_pb_toggle_content h4 {
   margin: 1em 0; /* add space above and below heading */
   font-weight: 600;
}

.mi-text,
.mi-full-width-img {
   padding: 2em 0 !important; /* override .et_pb_section */
}

.mi-full-width-img .et_pb_row .et_pb_image_sticky:last-child {
   margin-bottom: 0 !important; /* override .et_pb_row:last-child .et_pb_image_sticky:last-child */
}

.mi-text h1 {
   position: relative;
}

/* mask horizontal rule */
.mi-text h1 > span {
   background-color: #fff;
   position: relative;
   z-index: 1;
   padding: 0 2em;
}

.mi-text h1:before {
   content: "";
   position: absolute;
   border-bottom: 1px solid #ddd;
   left: 0;
   top: 50%;
   width: 100%;
   z-index: 0;
}
.mi-media {
   text-align: left;
   clear: both;
   margin: 50px 0;
overflow: hidden;
}
.mi-media img {
   float:left;
   margin-right: 30px;
}
.mi-media-alt {
   text-align: right;
   clear: both;
   margin: 50px 0;
overflow: hidden;

}
.mi-media-alt img {
   float: right;
   margin-left: 30px;
}

.mi-cta {
   padding: 2em 0 !important;
}

.mi-cols {}

.mi-cols--3 .mi-col {
   width: 33%;
}
.mi-col {
   float: left;
   box-sizing: border-box;
}

.mi-col--first {
   margin-left: 0;
}

.mi-col--last {
   margin-right: 0;
}

.mt-m {
   margin-top: 3em;
}

.mi-steps .et_pb_column_1_4 {
   margin-right: 26px;
   box-sizing: border-box;
   width: 250px;
}

.mi-step {
   box-sizing: border-box;
   background-color: #eee;
   color: #000;
   padding: 2em 1em 1em;
   min-height: 400px;
}

/* ---------------------------------------------------------------------- 
   Courses Page 
   ---------------------------------------------------------------------- */
div.certificate-course-section, div.certificate-instructor-section, div.video-gallery {
    background-color: #d0112b;
}

div.course-title {
    background-color: #007fac;
    font-size:1.5em;
    padding-left: 10px;
    margin-bottom: 1em;
    line-height: 1.5;
}

img.course-image {
    padding-top: 30px;
}

div.course-meta {
    min-height: 115px; 
    padding-top:10px;
}

div.course-meta-cert {
    float:left; 
    max-width:190px; 
    text-align:center;
}

div.course-meta-cert h4 {
    margin-top: 5px;
}

div.course-meta-status {
    float: left; 
    min-width:125px; 
    text-align: left;
}

.noshow {
    display: none;
}
.course-required, .course-elective, .course-schedule {
    padding: 0px 0px 0px 5px;
}

.course-required:before {
    color: #d0112b; 
    font-size:72px;
    content: "\e037";
    vertical-align: top; 
}

.course-elective:before {
    color: #d0112b; 
    font-size:72px;
    content: "\e038";
    vertical-align: top; 
}

.course-schedule:before {
     color: #d0112b; 
     font-size:72px;
     content: "\e025";
     vertical-align: top; 
}

div.course-meta-instructor {
    min-width: 255px;
    float: left;
}

.course-meta-instructor-image {
   float: left;
   padding-right: 15px;
   vertical-align: top;
}

.course-meta-instructor-name {
    float: right; 
    text-align: center;
    padding: 4px 5px 0px 0px;
}

div.course-meta-schedule {
    float: left; 
    min-width:115px; 
    text-align: right;
}

div.course-description {
    background-color: #ffffff;
    padding-left: 5px;
    float: left;
}

/* ---------------------------------------------------------------------- 
   Info Form  
   ---------------------------------------------------------------------- */
.frm_form_field.frm_two_col .frm_radio, .frm_form_field.frm_two_col .frm_checkbox {
    margin-right: 0;
}

.frm_form_field.frm_third {
    margin-right: 20px;
}

.info-request-form {
    background-color: #f9f9f9 !important;
}

.ask-coach-form {
    background-color: #f9f9f9;
   /* padding: 20px; */
}

.info-request-form  h3, .ask-coach-form h3 {
    margin: 24px 0 20px;
    padding-bottom: 0 !important;
    padding-left: 20px;
    padding-top: 24px;
/*    color: #d0112b; */
}

#frm_form_9_container {
    padding-left: 20px;
}

.info-request-form .with_frm_style .frm_submit {
    padding-left: 20px;
}

.info-request-form .field-left {
    padding-left: 20px;
}

.frm_style_formidable-style.with_frm_style .frm_message, .frm_success_style {
    border: 1px solid #D6E9C6;
    background-color: #DFF0D8;
    color: #FFFFFF;
}
/* ---------------------------------------------------------------------- 
   Other 
   ---------------------------------------------------------------------- */
.finance-options-image {
    max-height: 200px;
}

/* ---------------------------------------------------------------------- 
   Other 
   ---------------------------------------------------------------------- */
.home-page-testimonial {
    min-height: 227px;
}
/*
.apply-call-to-action {
    min-height: 252;
}
*/
div.apply-call-to-action div.et_pb_promo_description {
    height: 160px; 
}


.page-template-page-template-blank-php .et_pb_column_1_2 {
  width: 45%;
}

table#comparison-table {
    text-align: left;
}

tr.row-1 {
    text-align: center;
}

.entry-content tr td {
    padding: 10px 15px  !important;
    vertical-align: top;
}
td.column-1 {
	width: 45%;
	background-color: #fc5252;
	border-bottom: 1px solid black;
}

td.column-2 {
 	width: 45%;
	background-color: #ffa4a4;
	border-bottom: 1px solid black;
}
